modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Zenvio"

[[workflows.workflow]]
name = "Start UberChat"
author = 44626164
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0 --directory ."

[[workflows.workflow]]
name = "Start Zenvio"
author = 44707040
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0 --directory ."
